.events.page .jumbotron {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 135px);
  position: relative;
  margin-bottom: 0;
}
.events.page .jumbotron .bottom-stuck {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  left: 0;
}
.events.page .speakers-list {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  white-space: nowrap;
}
