.member.card .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.member.card .card-img,
.member.card .card-img-top {
  height: 270px;
  object-fit: cover;
  object-position: center;
}
.member.card .member-photo {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
  margin-top: 0.1rem;
}
.member.card .photo-placeholder {
  height: 370px;
  text-align: center;
  background-color: var(--color-shade-2);
  color: var(--color-shade-1);
}
.member.card .card-img-overlay .bottom-stuck {
  position: absolute;
  bottom: 0;
  width: calc(100% - 2rem);
}
