.navbar-space-holder {
  height: 50px;
}
.navbar {
  border-bottom: 1px solid var(--color-shade-1);
  background-color: #fff;
  margin-bottom: 0;
  height: 85px;
}
.navbar > .container {
  height: 100%;
}
.navbar .navbar-links li {
  margin-right: 30px;
  font-weight: bold;
}
.navbar .navbar-links a {
  color: var(--color-grey);
}
.navbar .navbar-links a:hover {
  text-decoration: none;
}
.navbar .navbar-links .nav-item:hover {
  box-shadow: 0 2px 0 var(--color-grey);
}
.navbar .sub-links {
  position: absolute;
}
.logo {
  object-fit: contain;
  max-width: 190px;
}
.navbar .fas.fa-bars {
  font-size: 25px;
}
.nav-placeholder {
  position: relative;
  width: 100vw;
  height: 85px;
}

@media screen and (max-width: 991px) {
  .navbar .navbar-links li {
    margin-right: 15px;
  }
}
