.speaker-card {
  width: 300px;
  height: 160;
  padding: 15px;
  background: rgba(0, 0, 0, 0.15);
  white-space: normal;
}

.speaker-card > img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.speaker-card-modal img.photo {
  max-width: 300px;
  max-height: 300px;
}
